*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.container-title{
    margin-top: 70px;
    margin-bottom: 20px;
    color: #A8A366;
    text-transform: uppercase;
    font-weight: 600;
}
